html{
    background-color: khaki;
}
body{
    text-align: center;
    text-decoration: salmon;
}

.label{
    font-size: 20 pt;
    font-weight: bolder;
    color:rgb(148, 98, 48)
}
p{
    font-style: oblique;
    color: peru;
}
header{
    color: rgb(80, 53, 25)
}
header{
    text-align: center;
}
