img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 110%;
}
h1{
    font-size: 27px;
    font-family: 'Pacifico', cursive;
    text-align: center;
}
html{
    background-color: rgb(245, 234, 174);
}
}