body{
    font-family: 'Archivo Narrow', sans-serif;
    color:rgb(48, 48, 65);
    background-image: url("https://i.pinimg.com/originals/86/90/14/869014ea87e157354d2326a5961b20e0.png");
    background-size: 100%; 
}

h1{
    margin: 0px;
    text-align: center;
    font-size: 40px;
}
h2{
    margin:-3px;
    text-align: center;
}
.content{
    width: 960px;
    margin: auto;
}
header{
    width: 960px;
    margin: auto;

}
section h1{
    padding: 40px 0 15px 0;
    font-size: 40px;
}

.first{
    background-color: rgb(253, 255, 140);
    text-align: center;
}
.second{
    background-color: rgb(242, 189, 255);
    text-align: center;
}
.third{
    background-color: rgb(198, 255, 132);
    text-align: center;
}
footer{
    background-color: rgb(194, 208, 255);
    padding: 50px 0 50px 0;
    font-size: 18px;
    color: blue;
}

header .content{
    padding: 150px 0 142px 0;
}

header h1{
    font-size: 80px;
    color:rgb(75, 43, 75);

}
header h2{
    font-size: 30px;
    Margin-top: -1px;
    text-align: center;
    color:rgb(75, 43, 75);
}
p{
    font-size: 18px;
    line-height: 1.6rem;
}
.first p{
    text-align: left;
}
.first p:last-of-type{
    margin:0;
    padding-bottom: 56px;
}
.first img{
    width: 400px;
    height:300px;
    margin: 0 0 40px 40px;
    float:right;
    outline-style: auto;
    outline-color: chocolate;
}
.first h1{
    color: coral;
}
.second h1{
    color: rgb(110, 35, 160);
}
.second p{
    margin: 0;
    text-align: left;
    padding-top: 10px;
}
.second h2{
    text-align: left;
    font-size: 20px;
    padding-top: 4px;
}
.second li:last-of-type{
    margin-bottom: 45px;
}

ul li{
    width: 90%;
    display: block;
}
ul{
    display:grid;
    padding:0;
    grid-template-columns: 1fr 1fr;
    margin-bottom:0;
}
ul img{
    object-fit: cover;
    width: 199px;
    height: 150px;
    float:left;
    margin: 0 12px 24px 0;
}
.third h1{
    color: darkgreen;
}
.third p{
    text-align: center;
    margin: auto;
    letter-spacing: 0.5px;
    line-height: 35px;
    font-size: 25px;
    width: 725px;
}
.third h1{
    padding:40px 0 32px 0;
}
.third p:last-of-type{
    padding-bottom:100px;
}

